textarea
{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  font-family: "Verdana", Fallback, sans-serif;
}

html, body
{
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 80%;
}

label
{
  color: #444444;
  display: block;
  float: left;
  font-size: 18px;
  padding: 0;
  width: 170px;
}

.form-row
{
  margin-bottom: 15px;
  display: block;
}

h1, form
{
  font-family: Cambria, Helvetica, Arial, sans-serif;
}

/*---------------------------------------------------------------------------*/
#content-top
{
  width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  z-index: 9999;
  box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
  display: block;
}

.div-top-left
{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 50%;
  float: left;
  display: block;
}

.div-top-right
{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 50%;
  float: right;
  display: block;
}
/*---------------------------------------------------------------------------*/

.left
{
  float: left;
  display: block;
}

.right
{
  float: right;
  display: block;
}
/*---------------------------------------------------------------------------*/

* html body
{
  overflow: hidden;
}

body
{
  font-family: Cambria, Palatino, Georgia, serif;
  background: #fff url(../img/bg.jpg) repeat top left;
  font-weight: 400;
  font-size: 15px;
  color: #1d3c41;
  overflow-y: scroll;
}

#form-register, #form-private, #blank
{
  padding: 15px 1% 15px 1%;
  margin: 5px 5px 5px 5px;/
  background: rgb(247, 247, 247) url(../img/b.jpg) repeat top left;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(147, 184, 189,0.8);
  box-shadow:
    0pt 2px 5px rgba(105, 108, 109,  0.7),
    0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
 }

#form-register, #form-private, #title, #back-btn, #list-contests
{
  margin: 10px 10px 10px 10px;
}

#form-register
{
  float: right;
  margin: 0px 0px 0px 0px;
}

#container
{
  height: 100%;
}

#list-contests, #title, #container, #content, #server-answer
{
  width: 100%;
}

#title
{
  text-align: left;
  position: relative;
  font-size: 20px;
}

#server-answer
{
  text-align: left;
}