{{define "card"}}
{{template "header"}}

<div id="container">
    <div id="title" class="left"></div>
    <div id="server-answer" class="right" style="margin-right: -10px"></div>
    <div id="cabinet" class="left"></div>
</div>

<script type="text/javascript">
var data = {};
var valid = true;

$(function() {
    var token = "51dfe5d42fb2b43e3300006e";
    var key   = "86a2c2a06f1b2451a87d05512cc2c3edfdf41969";

    var region   = $('[name="region"]');
    var district = $('[name="district"]');
    var city     = $('[name="city"]');
    var street   = $('[name="street"]');
    var building = $('[name="building"]');

    var tooltip  = $(".tooltip");

    var LabelFormat = function( obj, query ){
        var label = "";

        var name = obj.name.toLowerCase();
        query = query.toLowerCase();

        var start = name.indexOf(query);
        start = start > 0 ? start : 0;

        if(query.length < obj.name.length){
            label += obj.name.substr(0, start);
            label += "<strong>" + obj.name.substr(start, query.length) + "</strong>";
            label += obj.name.substr(start+query.length, obj.name.length-query.length-start);
        } else {
            label += "<strong>" + obj.name + "</strong>";
        }

        if(obj.typeShort){
            label += " " + obj.typeShort + ".";
        }

        return label;
    };

    var ShowError = function(input, message){
        tooltip.find("span").text(message);

        var inputOffset = input.offset();
        var inputWidth  = input.outerWidth();
        var inputHeight = input.outerHeight();

        var tooltipHeight = tooltip.outerHeight();

        tooltip.css({
            left: (inputOffset.left + inputWidth + 10) + "px",
            top: (inputOffset.top + (inputHeight - tooltipHeight)/2 - 1) + "px"
        });

        tooltip.show();
    };

    region.kladr({
        token: token,
        key: key,
        type: $.kladr.type.region,
        labelFormat: LabelFormat,
        verify: true,
        select: function(obj) {
            region.parent().find("label").text(obj.type);
            district.kladr("parentType", $.kladr.type.region);
            district.kladr("parentId", obj.id);
            city.kladr("parentType", $.kladr.type.region);
            city.kladr("parentId", obj.id);
        },
        check: function(obj) {
            if(obj){
                region.text(obj.name);
                region.parent().find("label").text(obj.type);
                district.kladr("parentType", $.kladr.type.region);
                district.kladr("parentId", obj.id);
                city.kladr("parentType", $.kladr.type.region);
                city.kladr("parentId", obj.id);
                tooltip.hide();
            } else {
                ShowError(region, "Неверно введено название региона");
            }
        }
    });

    district.kladr({
        token: token,
        key: key,
        type: $.kladr.type.district,
        labelFormat: LabelFormat,
        verify: true,
        select: function(obj) {
            district.parent().find("label").text(obj.type);
            city.kladr("parentType", $.kladr.type.district);
            city.kladr("parentId", obj.id);
        },
        check: function(obj) {
            if(obj){
                district.text(obj.name);
                district.parent().find("label").text(obj.type);
                city.kladr("parentType", $.kladr.type.district);
                city.kladr("parentId", obj.id);
                tooltip.hide();
            } else {
                ShowError(district, "Неверно введено название района");
            }
        }
    });

    city.kladr({
        token: token,
        key: key,
        type: $.kladr.type.city,
        verify: true,
        select: function(obj) {
            city.parent().find("label").text(obj.type);
            street.kladr("parentType", $.kladr.type.city);
            street.kladr("parentId", obj.id);
            building.kladr("parentType", $.kladr.type.city);
            building.kladr("parentId", obj.id);
        },
        check: function(obj) {
            if(obj){
                city.text(obj.name);
                city.parent().find("label").text(obj.type);
                street.kladr("parentType", $.kladr.type.city);
                street.kladr("parentId", obj.id);
                building.kladr("parentType", $.kladr.type.city);
                building.kladr("parentId", obj.id);
                tooltip.hide();
            } else {
                ShowError(city, "Неверно введено название населённого пункта");
            }
        }
    });

    street.kladr({
        token: token,
        key: key,
        type: $.kladr.type.street,
        select: function(obj) {
            street.parent().find("label").text(obj.type);
            building.kladr("parentType", $.kladr.type.street);
            building.kladr("parentId", obj.id);
        },
        check: function(obj) {
            if(obj){
                street.text(obj.name);
                street.parent().find("label").text(obj.type);
                building.kladr("parentType", $.kladr.type.street);
                building.kladr("parentId", obj.id);
                tooltip.hide();
            } else {
                ShowError(street, "Неверно введено название улицы");
            }
        }
    });

    building.kladr({
        token: token,
        key: key,
        type: $.kladr.type.building,
        select: function(obj) {
            building.parent().find("label").text(obj.type);
        }
    });
});
</script>

{{with .Table}}
    {{range $index, $elmt := .}}
        {{range $i, $v := $elmt}}
            <script type="text/javascript">
                    data["{{$i}}"]= "{{$v}}";
            </script>
        {{end}}
    {{end}}
{{end}}

<script type="text/javascript">
require(["utils"],
function(utils) {
    var colNames = "{{.ColNames}}".slice(1, -1).split(" ");
    var columns = "{{.Columns}}".slice(1, -1).split(" ");
console.log(colNames)
    if (data != null) {
        $("#title").text("Личный кабинет");
        $("#logout-btn, #cabinet-btn").css("visibility", "visible");
        $("#cabinet").empty();

        $("<form/>", {
            id: "form-private",
            class: "left"
        }).appendTo("#cabinet");

        //for admin
        if (data["id"] == 1) {
            $("<p/>", {}).append(
                $("<input/>", {
                    type: "button",
                    value: "Мероприятия",
                    id: "table-contests-btn",
                    name: "submit",
                })
            ).appendTo("#form-private");

            $("#table-contests-btn").click(function() {
                location.href = "/handler/select/Contests";
            });

            $("<p/>", {}).append(
                $("<input/>", {
                    type: "button",
                    value: "Пользователи",
                    id: "table-users-btn",
                    name: "submit",
                })
            ).appendTo("#form-private");
            
            $("#table-users-btn").click(function() {
                location.href = "/handler/select/Users";
            });

            $("<p/>", {}).append(
                $("<input/>", {
                    type: "button",
                    value: "Анкеты",
                    id: "table-blanks-btn",
                    name: "submit",
                })
            ).appendTo("#form-private");

        //for user
        } else {
            var j = 0;
            for (var i in data) {
                if (columns[j] == "id") {
                    j++;
                    continue;
                }
                var div = $("<div/>", {
                    //class: "form-row"
                    class: "field"
                });

                var lable = $("<label/>", {
                    for: columns[j],
                    id: "label-" + columns[j]
                });

                var input = $("<input/>", {
                    id: columns[j],
                    name: columns[j],
                    type: "text"
                });

                $(input).val(data[columns[j]]);
                $(div).append(lable).append(input);
                $("#form-private").append(div);
                $("#label-" + columns[j]).text(colNames[j]);
                j++;
            }

            var input = $("<input/>", {
                type: "button",
                value: "Сохранить изменения",
                id: "save-btn",
                name: "submit",
            }).appendTo("#form-private");

            $("#save-btn").click(function() {
                var js = {
                    "action": "update",
                    "table": "Users",
                    "data": getPersonData(data),
                    "id": data["id"]
                };
                if (valid == true) {
                    utils.postRequest(js, function(data) {
                        $("#cabinet").css("visibility", "hidden");
                        $("#server-answer").text("Изменения сохранены.").css("color", "green");
                    }, "/handler")
                } else {
                    $("#server-answer").text("Неверно заполнены поля.").css("color", "red");
                }
            });

            $("<input/>", {
                type: "button",
                value: "Назад",
                id: "back-btn",
                name: "submit",
            }).appendTo("#cabinet");

            $("#back-btn").click(function() {
                history.back();
            });

            $("#email").blur(function() {
                var pattern = /^([a-z0-9_\.-])+@[a-z0-9-]+\.([a-z]{2,4}\.)?[a-z]{2,4}$/i;
                if (pattern.test($(this).val())){
                    valid = true;
                    $(this).css({"border": "2px solid green"});
                } else {
                    valid = false;
                    $(this).css({"border": "2px solid red"});
                }
            });
        }
    }

    function getPersonData(data) {
        var result = {};
        var userData = []; 
        var fields = [];
        var j = 0;
        for (var i in data) {
            if (i == "id") continue;
            userData.push($("#" + i).val());
            fields.push(i);
            j++;
        }
        result["userData"] = userData;
        result["fields"] = fields;
        return result;
    };
})
</script>

{{template "footer"}}
{{end}}
