{{define "card"}}
{{template "header"}}

<script type="text/javascript"
        src="/js/address.js"></script>

<div id="container">
    <div id="title" class="left"></div>
    <div id="server-answer" class="right" style="margin-right: -10px"></div>
    <div id="cabinet" class="left"></div>
</div>

<script type="text/javascript">
    var data = {};
    var valid = true;
</script>

{{with .Table}}
    {{range $index, $elmt := .}}
        {{range $i, $v := $elmt}}
            <script type="text/javascript">
                    data["{{$i}}"]= "{{$v}}";
            </script>
        {{end}}
    {{end}}
{{end}}

<script type="text/javascript">
require(["utils"],
function(utils) {
    var colNames = "{{.ColNames}}".slice(1, -1).split(" ");
    var columns = "{{.Columns}}".slice(1, -1).split(" ");

    if (data != null) {
        $("#title").text("Личный кабинет");
        $("#logout-btn, #cabinet-btn").css("visibility", "visible");
        $("#cabinet").empty();

        $("<form/>", {
            id: "form-private",
            class: "left"
        }).appendTo("#cabinet");

        //for admin
        if (data["id"] == 1) {
            $("<p/>", {}).append(
                $("<input/>", {
                    type: "button",
                    value: "Мероприятия",
                    id: "table-contests-btn",
                    name: "submit",
                })
            ).appendTo("#form-private");

            $("#table-contests-btn").click(function() {
                location.href = "/handler/select/Contests";
            });

            $("<p/>", {}).append(
                $("<input/>", {
                    type: "button",
                    value: "Пользователи",
                    id: "table-users-btn",
                    name: "submit",
                })
            ).appendTo("#form-private");
            
            $("#table-users-btn").click(function() {
                location.href = "/handler/select/Users";
            });

            $("<p/>", {}).append(
                $("<input/>", {
                    type: "button",
                    value: "Анкеты",
                    id: "table-blanks-btn",
                    name: "submit",
                })
            ).appendTo("#form-private");

        //for user
        } else {
            var j = 0;
            for (var i in data) {
                if (columns[j] == "id") {
                    j++;
                    continue;
                }
                var div = $("<div/>", {
                    //class: "form-row"
                    class: "field"
                });

                var lable = $("<label/>", {
                    for: columns[j],
                    id: "label-" + columns[j]
                });

                var input = $("<input/>", {
                    id: columns[j],
                    name: columns[j],
                    type: "text"
                });

                $(input).val(data[columns[j]]);
                $(div).append(lable).append(input);
                $("#form-private").append(div);
                $("#label-" + columns[j]).text(colNames[j]);
                j++;
            }

            var input = $("<input/>", {
                type: "button",
                value: "Сохранить изменения",
                id: "save-btn",
                name: "submit",
            }).appendTo("#form-private");

            $("#save-btn").click(function() {
                var js = {
                    "action": "update",
                    "table": "Users",
                    "data": getPersonData(data),
                    "id": data["id"]
                };
                if (valid == true) {
                    utils.postRequest(js, function(data) {
                        $("#cabinet").css("visibility", "hidden");
                        $("#server-answer").text("Изменения сохранены.").css("color", "green");
                    }, "/handler")
                } else {
                    $("#server-answer").text("Неверно заполнены поля.").css("color", "red");
                }
            });

            $("<input/>", {
                type: "button",
                value: "Назад",
                id: "back-btn",
                name: "submit",
            }).appendTo("#cabinet");

            $("#back-btn").click(function() {
                history.back();
            });

            $("#email").blur(function() {
                var pattern = /^([a-z0-9_\.-])+@[a-z0-9-]+\.([a-z]{2,4}\.)?[a-z]{2,4}$/i;
                if (pattern.test($(this).val())){
                    valid = true;
                    $(this).css({"border": "2px solid green"});
                } else {
                    valid = false;
                    $(this).css({"border": "2px solid red"});
                }
            });
            address();
        }
    }

    function getPersonData(data) {
        var result = {};
        var userData = []; 
        var fields = [];
        var j = 0;
        for (var i in data) {
            if (i == "id") continue;
            userData.push($("#" + i).val());
            fields.push(i);
            j++;
        }
        result["userData"] = userData;
        result["fields"] = fields;
        return result;
    };
})
</script>

{{template "footer"}}
{{end}}
