{{define "index"}}
{{template "header"}}
<div id="container">
    <div id="content">
        <form id="form-register">
            <div class="form-row">
                <label for="username">Логин</label>
                <input type="text" id="username" name="login"/>
            </div>

            <div class="form-row">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password"/>
            </div>

            <input type="button" value="регистрация" id="registerBtn" name="submit"/>
            <input type="button" value="вход" id="loginBtn" name="submit"/>
        </form>
        <div id="server-answer"></div>
    </div>
</div>
{{template "footer"}}
{{end}}
