{{define "edit"}}
{{template "header"}}

<div id="container">
    <table id="grid-table"></table>
    <div id="grid-table-pager"></div>
</div>

<script type="text/javascript">
    $("#logout-btn").css("visibility", "visible");
    var jsData    = "["
    var colNames_ = "{{.ColNames}}".slice(1, -1).split(" ");
    var tableName = "{{.TableName}}";
    var colModel_ = [];
</script>

<!-- colModel_ init ---------------------------------------------------------->
{{with .Columns}}
    {{range $i, $v := .}}
        <script type="text/javascript">
            var data = {};
            function datePicker(e) {$(e).datepicker({"dateFormat":"yy-mm-dd"});}
            data["name"] = "{{$v}}";
            data["index"] = "{{$v}}";
            data["editable"] = true;
            if ("{{$v}}" == "id") {
                data["editable"] = false;
            } else if ("{{$v}}" == "date") {
                data["editoptions"] = {dataInit: datePicker}
            }
            colModel_.push(data)
        </script>
    {{end}}
{{end}}
<!-- end colModel_ init ------------------------------------------------------>

<!-- jsData init ------------------------------------------------------------->
{{with .Table}}
    {{range $index, $elmt := .}}
        <script type="text/javascript">
            jsData += "{";
        </script>
        {{range $i, $v := $elmt}}
            {{if $v}}
                <script>jsData += '"' + "{{$i}}" + '"' + ":" + '"' + "{{$v}}" + '"' + ",";</script>
            {{else}}
                <script>jsData += '"' + "{{$i}}" + '"' + ":" + '"' + " " + '"' + ",";</script>
            {{end}}
        {{end}}
        <script type="text/javascript">
            jsData = jsData.slice(0, jsData.length-1) + "},";
        </script>
    {{end}}
    <script type="text/javascript">
        jsData = jsData.slice(0, jsData.length-1) + "]";
    </script>
{{end}}
<!-- end jsData init ---------------------------------------------------------->

<script type="text/javascript">
    var id_;
    $(document).ready(function() {
        $("#grid-table").jqGrid({
            data:           JSON.parse(jsData),
            datatype:       "local",
            mtype:          "POST",
            treeGrid:       false,
            colNames:       colNames_,
            colModel:       colModel_,
            pager:          $("#grid-table-pager"),
            width:          1000,
            gridview:       true,
            sortname:       "invdate",
            viewrecords:    true,
            height:         "100%",
            rowNum:         10,
            rownumbers:     true,
            rownumWidth:    20,
            caption:        "{{.Caption}}",
            sortname:       "id",
            sortorder:      "asc",
            hoverrows:      true,
            multiselect:    true,
            ondblClickRow:  function(id) {
                                id_ = id;
                                $("#grid-table").restoreRow(id);
                                $("#grid-table").editRow(id, true);
                            },
            editurl:        "/handler/edit/" + "{{.TableName}}"
        });

        $("#grid-table").jqGrid(
            "gridResize", 
            {
                minWidth: 450,
                minHeight: 150
            }
        );

        $("#grid-table").navGrid(
            "#grid-table-pager",
            {
                edit:   true,    //edittext:   "Редактировать",
                add:    true,    //addtext:    "Создать",
                del:    true,    //deltext:    "Удалить",
                refresh: false,
                view:   false,
                search: false
            },
            { //edit
                //reloadAfterSubmit:  true,
                viewPagerButtons:   false,
                closeAfterEdit:     true,
                afterSubmit:        function(response, postdata) {
                                        window.location.reload();
                                        return [true, "", response.responseText];
                                    }
                
            },
            { //add
                //reloadAfterSubmit:  true,
                viewPagerButtons:   false,
                clearAfterAdd:      true,
                closeAfterAdd:      true,
                addedrow:           "last",
                afterSubmit:        function(response, postdata) {
                                        window.location.reload();
                                        return [true, "", response.responseText];
                                    }
            },
            { //del
                closeAfterAdd:      true,
                viewPagerButtons:   false
            }
        );

        if (tableName == "Contests") {
            $("#grid-table").jqGrid (
                "navButtonAdd",
                "#grid-table-pager",
                {
                    caption: /*"Анкета"*/"", buttonicon: "ui-icon-script", title: "",
                    onClickButton: function() {
                        alert(id_);
                        dada(id_);
                    }
                }
            );
        }

        $("#grid-table").jqGrid (
            "navButtonAdd",
            "#grid-table-pager",
            {
                caption: "", buttonicon: "ui-icon-calculator", title: "choose columns",
                onClickButton: function() {
                    $("#grid-table").jqGrid("columnChooser", {
                        done: function(perm) {
                            if (perm) {
                                $("#grid-table").jqGrid("remapColumns", perm, true);
                            }
                        }
                    });
                }
            }
        );

        $("#grid-table").jqGrid(
            "filterToolbar",
            {
                stringResult:    true,
                searchOnEnter:   false,
                defaultSearch:   "cn"
            }
        );

        $(window).bind("resize", function() {
            $("#jqgrid").setGridWidth($(window).width());
        }).trigger("resize");

        $("<p/>", {}).append(
            $("<input/>", {
                type: "button",
                value: "Назад",
                id: "back-btn",
                name: "submit",
            })
        ).appendTo("#container");

        $("#back-btn").click(function() {
            history.back();
        });

        $("#parent-popup").click(function() {
            history.back();
        });

    });

</script>

{{template "footer"}}
{{end}}
